body {
    background-image: linear-gradient(0deg, #374f7a 10%, #49AEC2);
    background-attachment: fixed;
}

header {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    color: white;
    width: 700px;
    text-align: center;
    padding: 1%;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    margin: auto;
    display: block;
}

input {
    background-color: rgba(255, 255, 255, 0.966);
    margin: 25px;
    padding: 25px;
    font: normal 12pt Arial;
    color: black;
    border-radius: 60px;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.246);
    cursor: pointer;
}

.descricao {
    font: normal 12pt Arial;
    color: rgba(255, 255, 255, 0.637);
}

.entrada {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    width: 900px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height: 125px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}

input[type=button]:hover{
    color: #49AEC2;
}

.hide {
    display: none;
}

.aHide {
    display: none;
}

label {
    font: normal 14pt Arial;
    color: rgba(255, 255, 255, 0.746);
}

div#cadastrar {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    width: 380px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    padding-top: 3px;
}

div#listar {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    color: white;
    width: 720px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    padding: 1px;
    padding-bottom: 25px;
}

div#alterar {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    color: white;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    padding: 2px;
    padding-top: 12px;
}

div#remover {
    background-color: rgb(53, 49, 52);
    font: normal 20pt Arial;
    color: white;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
    padding: 2px;
    padding-top: 12px;
}

select {
    background-color: rgba(255, 255, 255, 0.966);
    margin: 25px;
    padding: 15px;
    font: normal 12pt Arial;
    color: black;
    border-radius: 60px;
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.246);
    cursor: pointer;
}

p#pSexo {
    font: normal 14pt Arial;
    color: rgba(255, 255, 255, 0.746);
}

input#txtNome {
   padding: 12px;
   width: 300px;
   cursor: text;
}

input#numIdade {
    padding: 10px;
    width: 160px;
    cursor: text;
}

input#alterarAluno {
    width: 120px;
    height: 10px;
    cursor: text;
}

input#novoNome {
    padding: 12px;
    width: 240px;
    cursor: text;
}

input#novaIdade {
    padding: 10px;
    width: 165px;
    cursor: text;
}

input#idAluno {
    width: 120px;
    height: 10px;
    cursor: text;
}

p#infoClick {
    font: normal 14pt Arial;
    color: white;
    padding: 16px;
}

table, th, td {
    background-color: white;
    border: 3px solid black;
    border-collapse: collapse;
    width: 640px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 20px;
    color: black;
    text-align: center;
}

footer {
    background-color: rgb(53, 49, 52);
    width: 180px;
    font: italic 12pt Arial;
    color: white;
    text-align: center;
    margin: auto;
    border-radius: 12px;
    padding: 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.246);
}